<!DOCTYPE html>
<html lang="zxx">
    

<head>        
        <!-- Title -->
        <title>..:: ALI Library - Collections ::..</title>
        <%- include('partials_home/head'); %>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <!-- <link type="text/css" rel="stylesheet" href="/css/simplePagination.css"/> -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script> -->
    </head>

    <body>

        <%- include('partials_home/header'); %>

        <!-- Start: Page Banner -->
        <section class="page-banner collections-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Books & Media Listing</h2>
                    <span class="underline center"></span>
                    <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/home1">Home</a></li>
                        <li>Books & Media</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-full-width">
                        <div class="container">
                            <!-- Start: Search Section -->
                            <section class="search-filters">
                                <div class="filter-box">
                                    <h3>What are you looking for at the library?</h3>
                                    <!-- <form action="http://libraria.demo.presstigers.com/index.html" method="get"> -->
                                        <div class="col-md-4 col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Search by Title" id="keywordsTitle" name="keywordsTitle" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" type="submit" onclick="searchTitle()" value="Search">
                                            </div>
                                        </div>
                                        
                                    <!-- </form> -->
                                </div>
                                <div class="clear"></div>
                            </section>
                            <!-- End: Search Section -->

                            <div class="filter-options margin-list">
                                <div class="row">                                            
                                    <div class="col-md-2 col-sm-6">
                                        <label for="items_status" class="col-form-label">Filter By :</label><br>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="catalog" id="filterCategory" onclick="myCategory()">
                                            <label class="form-check-label" for="filterCategory">
                                              Category
                                            </label>
                                            <!-- <input class="form-check-input" type="radio" name="catalog" id="filterAuthor" onclick="myAuthor()">
                                            <label class="form-check-label" for="filterAuthor">
                                              Author
                                            </label>
                                            <input class="form-check-input" type="radio" name="catalog" id="filterPublisher" onclick="myPublisher()">
                                            <label class="form-check-label" for="filterPublisher">
                                              Publisher
                                            </label> -->
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="catalog" id="filterAuthor" onclick="myAuthor()">
                                            <label class="form-check-label" for="filterAuthor">
                                              Author
                                            </label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="catalog" id="filterPublisher" onclick="myPublisher()">
                                            <label class="form-check-label" for="filterPublisher">
                                              Publisher
                                            </label>
                                          </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6" id="filter">
                                        <!-- <div class="form-group">
                                            <select name="kota" id="kota" class="form-control">
                                                <option value=""></option>
                                                <option value="Matematika">Matematika</option>
                                                <option value="User Guide">User Guide</option>
                                                <option value="Fisika">Fisika</option>
                                                <option value="Informatika">Informatika</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" type="submit" onclick="searchCatalog()" value="Search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="filter-options margin-list">
                                <div class="row">
                                                                                
                                    
                                </div>
                            </div>
                            <div class="booksmedia-fullwidth">
                                <ul class="list" id="listBook">
                                    
                                    <% items.forEach(i => { %>
                                        
                                        <li>
                                            <% if (i.type == "books") { %>
                                                <div class="book-list-icon yellow-icon"></div>
                                            <% }else if(i.type == "document"){ %>
                                                <div class="book-list-icon red-icon"></div>
                                            <% }else if(i.type == "cd"){ %>
                                                <div class="book-list-icon blue-icon"></div>
                                            <% } %> 
                                            <figure>
                                                <img src="<%= i.image %>" alt="Book" style="height: 500px; object-fit: cover;"></a>
                                                <figcaption>
                                                    <header>
                                                        <h4><%= i.title %></h4>
                                                        <p><strong>Category : </strong><%= i.category %></p>
                                                        <p><strong>Author : </strong><%= i.author %></p>
                                                        <p><strong>Publisher : </strong><%= i.publisher %></p>
                                                    </header>
                                                    <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p> -->
                                                    <!-- <div class="actions">
                                                        <ul>
                                                            <li>
                                                                <a href="/home/collections/detail">
                                                                    <i>Read More</i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <button>Read More</button>
                                                    </div> -->
                                                    <button onclick='detail("<%= i.id %>")'>Read More</button>
                                                </figcaption>
                                            </figure>                                                
                                        </li>
                                    <% }) %>
                                </ul>
                                <ul class="pagination">

                                </ul>
                            </div>
                            <!-- <div id="demo">

                            </div> -->
                            <nav class="navigation pagination text-center">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links">
                                    <% if (page+1 > 1 && page+1 <= totalPages) { %>
                                        <a class="prev page-numbers" href="/home/collections?page=<%= page-1 %>" ><i class="fa fa-long-arrow-left"></i> Previous</a>
                                    <% } %>
                                    
                                    
                                    <% for( let i = 0; i < totalPages; i++ ) { %>
                                        <% if (i == page) { %>
                                            <span class="page-numbers current"><%= i+1 %></span>
                                        <% } else{%>
                                            <a class="page-numbers" href="/home/collections?page=<%= i %>"><%= i+1 %></a>
                                        <% } %> 
                                        
                                    <% } %>
                                    <!-- <span class="page-numbers current">1</span>
                                    <a class="page-numbers" href="#.">2</a>
                                    <a class="page-numbers" href="#.">3</a>
                                    <a class="page-numbers" href="#.">4</a> -->
                                    <% if (page+1 < totalPages && page+1 >= 1) { %>
                                        <a class="next page-numbers" href="/home/collections?page=<%= page+1 %>" >Next <i class="fa fa-long-arrow-right"></i></a>
                                    <% } %>
                                    
                                </div>
                            </nav>
                        </div>
                        
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

        <%- include('partials_home/footer'); %>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <!-- <script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script> -->
        <!-- <script type="text/javascript" src="/js/jquery.simplePagination.js"></script> -->

        <script type="text/javascript">
            

            function searchTitle(){
                var input, filter, title;
                input = document.getElementById("keywordsTitle");
                // filter = input.value.toUpperCase();

                title = input.value;

                // let title = $("#keywordsTitle").value.toUpperCase();
                // console.log(filter);
                
                $.ajax({
                    url: `http://localhost:8001/home/collections/title/${title}`,
                    type: 'GET',
                    success: function (result) {
                        location.href=`/home/collections/title/${title}`
                    }
                });

                // $.ajax({
                //     url: 'http://localhost:8001/api/get_all_item',
                //     type: 'GET',
                //     success: function(result){
                //         for (let i = 0; i < result.length; i++) {
                //             let title = result[i].title;
                //             console.log(title)
                //             if (title.toUpperCase().indexOf(filter) > -1) {
                //                 console.log("masuk")
                //                 $.ajax({
                //                     url: `http://localhost:8001/home/collections/title/${title}`,
                //                     type: 'GET',
                //                     success: function (result) {
                //                         location.href=`/home/collections/title/${title}`
                //                     // location.reload();
                //                     }
                //                 });
                //             }
                //         }
                        
                       
                //     }
                // });
            }

            function searchCatalog(){
                let category = $('[name="category"]').val();
                let author = $('[name="author"]').val();
                let publisher = $('[name="publisher"]').val();

                if (category != null) {
                    if (category == "All Categories") {
                    $.ajax({
                        url: `http://localhost:8001/home/collections`,
                        type: 'GET',
                        success: function (result) {
                        location.href=`/home/collections`
                        // location.reload();
                        }
                    });
                    }else{
                    $.ajax({
                        url: `http://localhost:8001/home/collections/categories/${category}`,
                        type: 'GET',
                        success: function (result) {
                        location.href=`/home/collections/categories/${category}`
                        // location.reload();
                        }
                    });
                    }
                }else if(author != null){
                    if (author == "All Author") {
                    $.ajax({
                        url: `http://localhost:8001/home/collections`,
                        type: 'GET',
                        success: function (result) {
                        location.href=`/home/collections`
                        // location.reload();
                        }
                    });
                    }else{
                    $.ajax({
                        url: `http://localhost:8001/home/collections/author/${author}`,
                        type: 'GET',
                        success: function (result) {
                        location.href=`/home/collections/author/${author}`
                        // location.reload();
                        }
                    });
                    } 
                }else if(publisher != null){
                    if (publisher == "All Publisher") {
                    $.ajax({
                        url: `http://localhost:8001/home/collections`,
                        type: 'GET',
                        success: function (result) {
                        location.href=`/home/collections`
                        // location.reload();
                        }
                    });
                    }else{
                    $.ajax({
                        url: `http://localhost:8001/home/collections/publisher/${publisher}`,
                        type: 'GET',
                        success: function (result) {
                        location.href=`/home/collections/publisher/${publisher}`
                        // location.reload();
                        }
                    });
                    }
                }
                
                // console.log(category)
                // if (category == "All Categories") {
                // $.ajax({
                //     url: `http://localhost:8001/home/collections`,
                //     type: 'GET',
                //     success: function (result) {
                //     location.href=`/home/collections`
                //     // location.reload();
                //     }
                // });
                // }else{
                // $.ajax({
                //     url: `http://localhost:8001/home/collections/${category}`,
                //     type: 'GET',
                //     success: function (result) {
                //     location.href=`/home/collections/${category}`
                //     // location.reload();
                //     }
                // });
                // }
                
            }

            function detail(id){
                $.ajax({
                    url: `http://localhost:8001/home/collections/detail/${id}`,
                    type: 'GET',
                    success: function (result) {
                    location.href=`/home/collections/detail/${id}`
                    // location.reload();
                    }
                });
            }

            function myCategory(){
                const filter = document.getElementById('filter');
                $("#filter").empty();
                $.ajax({
                    url: 'http://localhost:8001/api/get_all_category',
                    type: 'GET',
                    success: function(result){
                        console.log(result)
                        filter.innerHTML += 
                            `<div class="form-group">
                                <select name="category" id="category" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>`
                            for (let i = 0; i < result.length; i++) {
                                $("#category").append(`<option value="${result[i].categoryName}">${result[i].categoryName}</option>`);
                            }
                        $("#category").select2({
                            placeholder: "Please Select Category"
                        });
                    }
                })
            }

            function myAuthor(){
                const filter = document.getElementById('filter');
                $("#filter").empty();
                $.ajax({
                    url: 'http://localhost:8001/api/get_all_author',
                    type: 'GET',
                    success: function(result){
                        console.log(result)
                        filter.innerHTML += 
                            `<div class="form-group">
                                <select name="author" id="author" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>`
                            for (let i = 0; i < result.length; i++) {
                                $("#author").append(`<option value="${result[i].author}">${result[i].author}</option>`);
                            }
                        $("#author").select2({
                            placeholder: "Please Select Author"
                        });
                    }
                })
            }

            function myPublisher(){
                const filter = document.getElementById('filter');
                $("#filter").empty();
                $.ajax({
                    url: 'http://localhost:8001/api/get_all_publisher',
                    type: 'GET',
                    success: function(result){
                        console.log(result)
                        filter.innerHTML += 
                            `<div class="form-group">
                                <select name="publisher" id="publisher" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>`
                            for (let i = 0; i < result.length; i++) {
                                $("#publisher").append(`<option value="${result[i].publisher}">${result[i].publisher}</option>`);
                            }
                        $("#publisher").select2({
                            placeholder: "Please Select Publisher"
                        });
                    }
                })
            }

            // function pagination(p){
            //     // console.log(tp)
            //     if (p >= 0) {
            //         $.ajax({
            //             url: `http://localhost:8001/home/collections?page=${p}`,
            //             type: 'GET',
            //             success: function (result) {
            //             location.href=`/home/collections?page=${p}`
            //             // location.reload();
            //             }
            //         });
            //     }
            // }

            


        </script>

    </body>


</html>