<!DOCTYPE html>
<html lang="zxx">
    

<head>        
        <!-- Title -->
        <title>..:: ALI Library - Detail ::..</title>
        <%- include('partials_home/head'); %>
    </head>

    <body>

        <%- include('partials_home/header'); %>

        <!-- Start: Page Banner -->
        <section class="page-banner detail-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Books & Media Listing</h2>
                    <span class="underline center"></span>
                    <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/home1">Home</a></li>
                        <li>Books & Media</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="booksmedia-detail-main">
                        <div class="container">
                            <div class="row" style="margin-top:3em; margin-bottom: 3em; text-align: center;">
                                <h3>Detail Item</h3>
                            </div>
                            <div class="booksmedia-detail-box">
                                <div class="detailed-box">
                                    <div class="col-xs-12 col-sm-5 col-md-3">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon blue-icon"></div>
                                            <img src="<%= items.image %>" alt="Book Image" style="height: 350px; object-fit: cover;">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6">
                                        <div class="post-center-content">
                                            <h2><%= items.title %></h2>
                                            <p><strong>Category:</strong> <%= items.category %></p>
                                            <p><strong>Author:</strong> <%= items.author %></p>
                                            <p><strong>Publisher:</strong> <%= items.publisher %></p>
                                            <p><strong>Type:</strong> <%= items.type %></p>
                                            <p><strong>Length:</strong> <%= items.pages %> pages</p>
                                            <p><strong>Language:</strong> <%= items.language %></p>
                                            <p><strong>Location:</strong> <%= items.location %></p>
                                            <!-- <p><strong>Edition:</strong> First edition</p>
                                            <p><strong>Genre :</strong> Feature films, Fiction films, Drama</p>
                                            <p><strong>Topics:</strong> Friendship, Bullies, Pranks, School</p> -->
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 ">
                                        <div class="post-right-content">
                                            <% if (items.items_status == "available") { %>
                                                <h4><strong class="success">Available Now</strong></h4>
                                            <% } else {%>
                                                <h4><strong class="danger">Not Available Now</strong></h4>
                                            <% } %> 
                                            <p><strong>Total Copies:</strong> <%= items.quantity %></p>
                                            <p><strong>Available:</strong> <%= items.available_quantity %></p>
                                            <!-- <p><strong>Holds:</strong>  01</p> -->
                                            <p><strong>On the shelves now at:</strong> <%= items.location %></p>
                                            <!-- <p><strong>Call #:</strong> 747 STRUTT C</p> -->
                                            <!-- <a href="#." class="available-location">Availability by Location <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> -->
                                            <% if (items.items_status == "available") { %>
                                                <a href="#" class="btn btn-dark-gray" data-toggle="modal" data-target="#bookingModal">Request Booking</a> 
                                            <% } else {%>
                                                <a href="#" class="btn btn-dark-gray" data-toggle="modal" data-target="#alertModal">Request Booking</a> 
                                            <% } %>
                                            
                                            <!-- <button type="button" class="btn btn-dark-gray" onclick='bookingItem(<%= borrows.length %>, <%= users.id %>, <%= users.ration %>, "<%= users.nama %>", "<%= users.id_pegawai %>", "<%= users.status_users %>", "<%= items.id_item %>", "<%= items.title %>")'>Request Booking</button> -->
                                            <!-- <a href="#." class="btn btn-dark-gray">View sample</a> 
                                            <a href="#." class="btn btn-dark-gray">Find Similar Titles</a> -->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <p><strong>Summary: </strong> <%= items.sinopsis %></p>

                                
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->
        
        <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure to request booking this item?</h5>
                    <!-- <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"> -->
                    </button>
                </div>
                <div class="modal-body">Item : <%= items.title %> <br>Date : <%= new Date() %></div>
                <div class="modal-footer">
                    <button class="small" type="button" data-dismiss="modal">Cancel</button>
                    <button type="button" class="small" onclick='bookingItem(<%= borrows.length %>, <%= users.id %>, <%= users.ration %>, "<%= users.nama %>", "<%= users.id_pegawai %>", "<%= users.status_users %>", "<%= items.id_item %>", "<%= items.title %>")'>Submit</button>
                    <!-- <a class="btn btn-primary" href="#">Submit</a> -->
                </div>
            </div>
        </div>
        </div>

        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <!-- <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"> -->
                    </button>
                </div>
                <div class="modal-body">Sorry, you can't borrow this book, because the book is currently unavailable</div>
                <div class="modal-footer">
                    <button class="small" type="button" data-dismiss="modal">Oke</button>
                </div>
            </div>
        </div>
        </div>

        <%- include('partials_home/footer'); %>

        <script type="text/javascript">

            // function randomString(len, charSet) {
            //     charSet = charSet || 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            //     var randomString = '';
            //     for (var i = 0; i < len; i++) {
            //         var randomPoz = Math.floor(Math.random() * charSet.length);
            //         randomString += charSet.substring(randomPoz,randomPoz+1);
            //     }
            //     return randomString;
            // }

            function makeIdBorrow(id,item){
                id++;
                var id_borrow = `P${id}_${item}`;
                return id_borrow;
                
            }

            async function bookingItem(i, idU, r, nama, id_pegawai, status, id_item, title) {
                // let id = i;
                // let id_item = $("#recipient-id").val();
                // let id_pegawai = $("#recipient-idPegawai").val();
                // let code = $("#recipient-code").val();
                // let title = $("#recipient-title").val();

                let id_borrow = makeIdBorrow(i,id_item);
                let requestDate = new Date();
                // requestDate.setDate(requestDate.getDate()-1);
                console.log(requestDate)
                
                
                // const toastTrigger = document.getElementById('liveToastBtn')
                // const toastLiveExample = document.getElementById('liveToast')
                
                let ration = r;
                if (ration > 0 && status == "active") {

                    await fetch("http://localhost:8001/api/add_borrow", {
                    method: 'post',
                    body: `id_borrow=${id_borrow}&user_id=${id_pegawai}&user_name=${nama}&item_id=${id_item}&item_title=${title}`,
                    headers: 
                    {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                    }).then(async (response) => {
                        if (response.status === 400) {
                            alert("Id borrow Tidak Boleh Kosong!")
                        }
                        if (response.status != 400) {

                            // socket.emit("newUser", id_pegawai);
                            socket.emit("reqBooking", {
                                senderId: id_pegawai,
                                name: nama,
                                id_item: id_item,
                                title: title,
                                text: "Request Booking",
                                
                            });
                        }
                        return response.json()
                    }).then((res) => {
            
                    }).catch((error) => {
                        console.log(error)
                    })


                    // $.ajax({
                    // url: `http://localhost:8001/api/update_item/${idI}`,
                    // type: 'PUT',
                    // data: ({ available_quantity: aq-1 }),
                    // success: function (result) {
                        
                    //     location.reload();
                    // }
                    // });

                    $.ajax({
                    url: `http://localhost:8001/api/add_alert`,
                    type: 'POST',
                    data: ({ receiverName: "Admin", senderId: id_pegawai, senderName: nama, id_item: id_item, title: title, text: "Request Booking" }),
                    success: function (result) {
                        
                        location.reload();
                    }
                    });

                    ration -= 1;
                    $.ajax({
                    url: `http://localhost:8001/api/update_profile/${idU}`,
                    type: 'PUT',
                    data: ({ id_pegawai: id_pegawai, ration: ration }),
                    success: function (result) {
                        
                        location.reload();
                    }
                    });
                }else{
                    if (status == "notactive") {
                        alert("Maaf status user anda sedang tidak aktif");
                    }else if(ration <= 0){
                        alert("Maaf anda tidak dapat melakukan peminjaman sebanyak lebih dari 2 kali");
                    }
                    
                }
                
            }
        </script>

    </body>


</html>