<!DOCTYPE html>
<html lang="zxx">
    

<head>        
        <!-- Title -->
        <title>..:: ALI Library - Home ::..</title>
        <%- include('partials_home/head'); %>
    </head>
    
    <body>
        
        <%- include('partials_home/header'); %>
        
        <!-- Start: Slider Section -->
        <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
            
            <!-- Carousel slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <figure>
                        <img alt="Home Slide" src="/templateMember/images/header-slider/home-v1/library-2.jpeg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Welcome To ALI Library</h3>
                            <h2>Discover Your Books</h2>
                            <p>There are many books available for you to read and loan.</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#welcome-section" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="/templateMember/images/header-slider/home-v1/library-3.jpeg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Welcome To ALI Library</h3>
                            <h2>Discover Your Books</h2>
                            <p>There are many books available for you to read and loan.</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#welcome-section" class="btn btn-primary">Read More</a>
                                <!-- <a href="#" class="btn btn-default">Purchase</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="/templateMember/images/header-slider/home-v1/library-4.jpeg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Welcome To ALI Library</h3>
                            <h2>Discover Your Books</h2>
                            <p>There are many books available for you to read and loan.</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#welcome-section" class="btn btn-primary">Read More</a>
                                <!-- <a href="#" class="btn btn-default">Purchase</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
        </div>
        <!-- End: Slider Section -->
        
        
        
        <!-- Start: Welcome Section -->
        <section class="welcome-section" id="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="welcome-wrap">
                            <div class="welcome-text">
                                <h2 class="section-title">Welcome to the ALI Library</h2>
                                <span class="underline left"></span>
                                <p class="lead">APRIL Learning Institute Library</p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humor, or non-characteristic words etc.</p>
                                <a class="btn btn-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="facts-counter">
                            <ul>
                                <% let books = 0 %>
                                <% let document = 0 %>
                                <% let cd = 0 %>
                                <% let ebook = 0 %>
                                <% item.forEach(i => { %>
                                    <% if (i.type == "books") { %>
                                    <% books++ %> 
                                <% }else if(i.type == "document"){ %>
                                    <% document++ %>
                                <% }else if(i.type == "cd"){ %>
                                    <% cd++ %>
                                <% }else if(i.type == "ebook"){ %>
                                    <% ebook++ %>
                                <% } %> 
                                <% }) %>
                                <li class="bg-light-green">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="ebook"></i>
                                        </div>
                                        <span>Books<strong class="fact-counter"><%= books %></strong></span>
                                    </div>
                                </li>
                                <li class="bg-green">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="eaudio"></i>
                                        </div>
                                        <span>eBooks<strong class="fact-counter"><%= ebook %></strong></span>
                                    </div>
                                </li>
                                <li class="bg-red">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="magazine"></i>
                                        </div>
                                        <span>CD<strong class="fact-counter"><%= cd %></strong></span>
                                    </div>
                                </li>
                                <li class="bg-blue">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="videos"></i>
                                        </div>
                                        <span>Document<strong class="fact-counter"><%= document %></strong></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-image"></div>
        </section>
        <!-- End: Welcome Section -->
        
        <!-- Start: Category Filter -->
        <section class="category-filter section-padding">
            <div class="container">
                <div class="center-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">Check Out The New Releases</h2>
                            <span class="underline center"></span>
                            <!-- <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p> -->
                        </div>
                    </div>
                </div>
                <div class="filter-buttons">
                    <div class="filter btn" data-filter="all">All Releases</div>
                    <div class="filter btn" data-filter=".books">Books</div>
                    <div class="filter btn" data-filter=".document">Document</div>
                    <div class="filter btn" data-filter=".cd">CD/DVD</div>
                    <div class="filter btn" data-filter=".ebook">eBooks</div>
                </div>
            </div>
            <div id="category-filter">
                <ul class="category-list">
                    <%item.sort(function compare(a, b) {%>
                        <% var dateA = new Date(a.createdAt); %>
                        <% var dateB = new Date(b.createdAt); %>
                    
                        <% return dateB - dateA; %>
                    <%});%>
                    <% item.forEach(i => { %>
                        <li class="category-item <%= i.type %>">
                            <figure>
                                <img src="/home/<%= i.image %>" alt="New Releaase" style="height: 250px; object-fit: cover;"/>
                                <figcaption class="bg-orange">
                                    <div class="info-block">
                                        <h4><%= i.title %></h4>
                                        <span class="author"><strong>Author:</strong> <%= i.author %></span>
                                        <span class="author"><strong>Publisher:</strong> <%= i.publisher %></span>
                                        <p><%= i.sinposis %></p>
                                        <a href="/home/collections/detail/<%= i.id %>">Read More <i class="fa fa-long-arrow-right"></i></a>
                                        
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                    <% }) %>
                </ul>
                <div class="center-content">
                    <a href="/home/collections" class="btn btn-primary">View More</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
        <!-- End: Category Filter -->
        
        <%- include('partials_home/footer'); %>
        
        
        
        
    </body>


</html>